extends layout

block content
  div: a(href="/") &laquo; Back
  
  h1 Viewing #{juice.name}

  h3 Ingredients

  ul
    for ingredient in juice.ingredients
      li= ingredient


  h3 Edit

  form(action="/edit/#{juice.id}", method="post")
    input(type="text", value=juice.name, name="name")
    input(type="text", value=juice.ingredients, name="ingredients")
    input(type="submit")
